<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../styles/mainPage.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<title>Simple Site</title>
	<style>
		.margin-left_-1 {
	margin-left: -1px;
	}
		.border-left-none {
		border-left: none;
	}
		.border-radius-right-card{
			border-radius: 0 5px 5px 0;
			margin-left: -1px;
			border-left: none;
		}
		.border-radius-left-card{
			border-radius: 0 5px 5px 0;
			margin-left: -1px;
			border-left: none;
		}
		.border-radius-center-card{
			border-radius: 0 0 5px 5px;
			margin-left: -1px;
		}
		.border-radius-none {
			border-radius: none;
		}

	</style>
</head>
<body>
	<div class="header">
		<div class="header__box wrapper">
			<div class="header__logo">
				<div class="header__logo-img">
					<img src="../images/Polygon.svg" alt="logo">
					<img src="../images/Polygon1.svg" alt="logo-mobile">
				</div>
				<a href="mainPage.html" class="header__logo-text">Personal</a>
			</div>
			<nav class="header__nav">
				<ul class="header__nav-list">
					<li class="header__nav-item">
						<a href="secondPage.html" class="header__nav-link">About</a>
					</li>
					<li class="header__nav-item">
						<a href="thirdPage.html" class="header__nav-link">Services</a>
					</li>
					<li class="header__nav-item">
						<a href="#" class="header__nav-link">Pricing</a>
					</li>
					<li class="header__nav-item">
						<a href="#" class="header__nav-link">Blog</a>
					</li>
				</ul>
			</nav>
			<button class="button">Contact</button>
			<img class="header__menu" src="../images/adaptive/menu.svg" alt="menu">
		</div>

	</div>



	<main class="main">
		<div class="main__header wrapper">
			<div class="main__header-content">
				<p class="text-orange">Gabriel Pires</p>
				<h1 class="main__header-title">
					The Simple, <br>Clean Design
				</h1>
				<p class="main__header-text">Agency provides a full service range including technical skills, design, business understanding.</p>
				<button class="main__header-button">See my work</button>
			</div>
			<div class="main__header-image">
				<img src="../images/pic.svg" alt="main-image">
			</div>
		</div>


		<div class="main-service">
			<div class="main-service__box wrapper">
				<p class="main-service__title text-center">Service</p>
				<h1 class="text-center">How I Can Help <br> You With</h1>

				<div class="main-service__cards">
					<div class="main-service__card">
						<div class="main-service__card-header">
							<div class="main-service__card-header-icon">
								<img src="../images/service-icon1.svg" alt="icon1">
							</div>
							<p class="main-service__card-header-text">Design</p>
						</div>

						<p class="main-service__card-description">Agency is a business you hire to outsource your digital <br> marketing efforts, instead of handling in-house.</p>
						<div class="main-service__card-learn-more">
							<div class="main-service__card-learn-more-icon">
								<img src="../images/service-icon2.svg" alt="icon1">
							</div>
							<p class="main-service__card-learn-more-text">Learn More</p>
						</div>
					</div>

					<div class="main-service__card main-service__card-development">
						<div class="main-service__card-header">
							<div class="main-service__card-header-icon">
								<img src="../images/service_icon1.2.svg" alt="icon1">
							</div>
							<p class="main-service__card-header-text">Development</p>
						</div>

						<p class="main-service__card-description">Hire to outsource your digital marketing efforts, instead of <br> handling in-house can provide your business.</p>
						<div class="main-service__card-learn-more">
							<div class="main-service__card-learn-more-icon">
								<img src="../images/service-icon2.svg" alt="icon1">
							</div>
							<p class="main-service__card-learn-more-text">Learn More</p>
						</div>
					</div>
				</div>
				<p class="main-service__explore text-center">Want more service? <a href="thirdPage.html">Explore Now</a></p>
			</div>
		</div>


		<div class="main-portfolio">
			<div class="main-portfolio__box wrapper">
				<div class="main-portfolio__header">
					<p class="main-portfolio__header-title">Portfolio</p>
					<div class="main-portfolio__header-flex">
						<p class="main-portfolio__header-subtitle">Latest Work</p>
						<button class="main-portfolio__header-button">Explore More</button>
					</div>
				</div>
				<!-- CARDS -->
			</div>	
			<div class="main-portfolio__cards noWrapper">
				<div class="main-portfolio__card">
					<div class="main-portfolio__card-image">
						<div class="main-portfolio__card-image-title">Design</div>
						<p class="main-portfolio__card-image-subtitle">SOFA</p>
					</div>
				</div>

				<div class="main-portfolio__card2 margin-left_-1 border-left-none">
					<div class="main-portfolio__card2-image">
						<div class="main-portfolio__card2-image-title">Branding</div>
						<p class="main-portfolio__card-image-subtitle">KeyBoard</p>
					</div>
				</div>

				<div class="main-portfolio__card3 margin-left_-1 border-left-none">
					<div class="main-portfolio__card3-image">
						<div class="main-portfolio__card3-image-title">Illustration</div>
						<p class="main-portfolio__card-image-subtitle">Work Media</p>
					</div>
				</div>
			</div>
		</div>



		<!-- ABOUT -->
		<div class="main-about">
			<div class="main-about__box wrapper">
				<!-- ABOUT ME -->
				<div class="main-about__about-flex">
					<div class="main-about__image">
						<img src="../images/about_me.svg" alt="about-image">
					</div>
					<div class="main-about__content">
						<p class="main-about__content-title">GABRIEL PIRES</p>
						<h1 class="main-about__content-subtitle">Professional <br> Web Designer</h1>
						<p class="main-about__content-subtitle-text">Provides a full service range</p>
						<p class="main-about__content-text">Ability to put themselves in the merchant's shoes. It is<br> meant to partner on the long run, and work as an extension <br> of the merchant's team.</p>
						<button class="main-about__content-button" >About Me</button>
					</div>
				</div>
				<!-- CARDS -->
				<div class="main-about__cards">
				<div class="main-about__card">
					<div class="main-about__card-icon">
						<img src="../images/about-1.2.svg" alt="icon1">
					</div>
					<div>
						<p class="main-about__card-title">42%</p>
						<p class="main-about__card-subtitle">Years of experience</p>
					</div>
				</div>

				<div class="main-about__card main-about__card-projects">
					<div class="main-about__card-icon">
						<img src="../images/about-1.svg" alt="icon1">
					</div>
					<div>
						<p class="main-about__card-title">73+</p>
						<p class="main-about__card-subtitle">Projects Done</p>
					</div>
				</div>
			</div>
		</div>
	</div>


		<!-- FEATURES -->
		<div class="main-features">
			<div class="main-features__box wrapper">
				<div class="main-features__content">
					<p class="main-features__content-title">Features</p>
					<h1 class="main-features__content-subtitle">Give Your Site <br> A New Look</h1>
					<p class="main-features__content-text">Service range including technical skills, design,<br> business understanding.</p>
					<ul class="main-features__content-list">
						<li>Range including technical skills</li>
						<li>Business understanding</li>
						<li>Partner on the long run</li>
					</ul>
				</div>
				<div class="main-features__image">
					<img src="../images/features-1.svg" alt="features-image">
				</div>
			</div>
		</div>

		<!-- CONTACT ME -->
		<section class="main-contact">
			<div class="main-contact__box wrapper">
				<div class="main-contact__content">
					<div class="main-contact__content-icon">
						<img src="../images/contactMe-present.svg" alt="icon">
					</div>
					<p class="main-contact__content-title">Get Started</p>
					<p class="main-contact__content-subtitle">I Help Companies <br> Move Faster</p>
					<button class="main-contact__content-button">Contact Me</button>
				</div>
				<div class="main-contact__text">
					<p class="main-contact__text-text">Put themselves in the merchant's shoes. It is <br> meant to partner on the long run.</p>
				</div>
				<div class="main-contact__image">
					<img src="../images/contactMe-block.png" alt="contact-image">
				</div>
			</div>
		</section>


		<!--?TESTIMONIALS -->
		<div class="main-testimonials">
			<div class="main-testimonials__box wrapper">
				<p class="main-testimonials__title text-center">Testimonials</p>
				<p class="main-testimonials__subtitle text-center">What My <br> Clients Saying</p>

				<!-- CARDS -->
				<div class="main-testimonials__cards">
					<div class="main-testimonials__cards-card">
						<img src="../images/testimonials-star.svg.svg" alt="star">
						<p class="main-testimonials__cards-card-text">
							Outsource your digital marketing efforts, instead of handling in-house. They can provide your business with a variety.
						</p>
						<div>
							<div>
								<img src="../images/testimonials-author1.svg" alt="">
							</div>
							<div>
								<p class="main-testimonials__cards-card-name">Graham Griffiths</p>
								<p class="main-testimonials__cards-card-whence">Twitter</p>
							</div>
						</div>
					</div>

					<div class="main-testimonials__cards-card margin-left_-1">
						<img src="../images/testimonials-star.svg.svg" alt="star">
						<p class="main-testimonials__cards-card-text">
							A digital agency is a business you hire to outsource your digital marketing efforts, instead of handling in-house. They can provide your business with a variety of digital solutions.
						</p>
						<div>
							<div>
								<img src="../images/testimonials-author2.svg" alt="">
							</div>
							<div>
								<p class="main-testimonials__cards-card-name">Alan Martí</p>
								<p class="main-testimonials__cards-card-whence">Meta Inc.</p>
							</div>
						</div>
					</div>

					<div class="main-testimonials__cards-card margin-left_-1">
						<img src="../images/testimonials-star.svg.svg" alt="star">
						<p class="main-testimonials__cards-card-text">
							Outsource your digital marketing efforts, instead of handling in-house. They can provide your business with a variety.
						</p>
						<div>
							<div>
								<img src="../images/testimonials-author1.svg" alt="">
							</div>
							<div>
								<p class="main-testimonials__cards-card-name">Graham Griffiths</p>
								<p class="main-testimonials__cards-card-whence">Twitter</p>
							</div>
						</div>
					</div>
					
				</div>

				<div class="main-testimonials__button-box"><button class="main-testimonials__button-box-btn">See All</button></div>
			</div>
		</div>



		<!--? FAQ -->
		<div class="main-FAQ">
			<div class="main-FAQ__box wrapper">
				<div class="main-FAQ__contentLeft">
					<p class="main-FAQ__contentLeft-title">Faq</p>
					<p class="main-FAQ__contentLeft-subtitle">Frequently Asked <br> Questions</p>
					<p class="main-FAQ__contentLeft-text">A digital agency is a business you hire to outsource your <br> digital marketing efforts, instead of handling in-house.</p>
					<a href="#" class="main-FAQ__contentLeft-button">Contact Me</a>
				</div>
				<div class="main-FAQ__contentRight">
					<ul class="main-FAQ__contentRight-list">
						<li>A digital agency is a business</li>
						<li>Hire to outsource your digital</li>
						<li>Marketing efforts</li>
						<li>Can provide your business</li>
					</ul>
				</div>

			</div>

			<div class="main-FAQ__footer">
				<img src="../images/FAQ-footer.png" alt="footer">
			</div>
		</div>
		
		<!-- ?MAIN-BLOG -->
		<div class="main-blog">
			<div class="main-blog__box wrapper">
				<p class="main-blog__title">Our Blog</p>
				<div class="main-blog__header">
					<p class="main-blog__header-subtitle">Latest Blog <br> Articles</p>
					<button class="main-blog__header-button">Discover All</button>
				</div>
				
				<div class="main-blog__cards">
					<div class="main-blog__cards-cardLeft">
						<img src="../images/our_blog/blog-1.png" alt="blog-1">
						<p class="main-blog__cards-cardLeft-title">Stories</p>
						<p class="main-blog__cards-cardLeft-subtitle">Agency is a business you hire to <br> outsource</p>
						<p class="main-blog__cards-cardLeft-date">5 Nov, 2021</p>
					</div>

					<div class="main-blog__cards-cardRight">
						<div class="main-blog__cards-cardRight-card">
							<img src="../images/our_blog/blog-2.png" alt="blog-2">
							<p class="main-blog__cards-cardRight-card-title">Design</p>
							<p class="main-blog__cards-cardRight-card-subtitle">Outsource your <br> digital marketing <br>	efforts</p>
							<p class="main-blog__cards-cardRight-card-date">29 Oct, 2021</p>
						</div>

						<div class="main-blog__cards-cardRight-card">
							<img src="../images/our_blog/blog-3.png" alt="blog-2">
							<p class="main-blog__cards-cardRight-card-title">Marketing</p>
							<p class="main-blog__cards-cardRight-card-subtitle">Your business with a <br> variety of digital</p>
							<p class="main-blog__cards-cardRight-card-date">21 Oct, 2021</p>
						</div>
					</div>
				</div>

				<div class="main-blog__footer">
					<div class="main-blog__footer-left">
						<p class="main-blog__footer-left-title">Newsletter</p>
						<p class="main-blog__footer-left-text">A digital agency is a business you hire to outsource</p>
					</div>
					<div class="main-blog__footer-right">
						<input class="main-blog__footer-right-input" type="text" placeholder="Your email">
						<button class="main-blog__footer-right-button">Subscribe</button>
					</div>
				</div>
			</div>
		</div>


		<!-- ?CONTACT-FORM -->
		<div class="main-contactForm">
			<div class="main-contactForm__box wrapper">
				<div class="main-contactForm-form">
					<p class="main-contactForm-form-name">Get In Touch</p>
					<input class="main-contactForm-form-input" type="email" placeholder="Your email">
					<select class="main-contactForm-form-input" placeholder="Subject">
						<option value="1">Design</option>
						<option value="2">Development</option>
						<option value="3">Marketing</option>
					</select>
					<textarea class="main-contactForm-form-textarea" placeholder="Message"></textarea>
					<button class="main-contactForm-form-button">Submit Now</button>
				</div>

				<div class="main-contactForm__info">
					<p class="main-contactForm__info-title">Contact</p>
					<p class="main-contactForm__info-subtitle">Contact Me</p>
					<p class="main-contactForm__info-text">A digital agency is a business you hire to outsource your digital marketing efforts, instead of handling in-house.</p>
					<ul class="main-contactForm__info-list">
						<li>2247 Lunetta Street, TX 76301</li>
						<li>+1 (234) 567-89-00</li>
						<li>info@agency.com</li>
					</ul>
				</div>
			</div>
		</div>

			<!-- ?PROMO-SECTION -->
			<section class="main-promoSection">
				<div class="main-promoSection__box wrapper">
					<div class="main-promoSection__content">
						<p class="main-promoSection__content-title">Gabriel Pires</p>
						<p class="main-promoSection__content-subtitle">Help To Build <br> Your Dream <br> Project</p>
						<p class="main-promoSection__content-text">A digital agency is a business you hire to outsource your <br> digital marketing efforts, instead of handling in-house.</p>
						<button class="main-promoSection__content-button">Contact Me</button>
					</div>
					<img src="../images/promo-section/p-s1.svg" alt="promo-section-image">
			</div>
		</section>

		<div class="footer__images">
			<img src="../images/footer/Bitmap.png" alt="footer-1">
			<img src="../images/footer/Bitmap-1.png" alt="footer-2">
			<img src="../images/footer/Bitmap-2.png" alt="footer-3">
			<img src="../images/footer/Bitmap-3.png" alt="footer-4">
			<img src="../images/footer/Bitmap-4.png" alt="footer-5">
			<img src="../images/footer/Bitmap-5.png" alt="footer-6">
		</div>

	</main>



	<!-- ?FOOTER -->
	<footer class="footer">

		<div class="footer__box wrapper">
			<div class="footer__content">
				<div class="footer__content-logo">Personal</div>
				
				<div class="footer__content-menu">
					<p class="footer__content-menu-title">Menu</p>
					<ul>
						<li>About</li>
						<li>Services</li>
						<li>Blog</li>
						<li>Contact</li>
					</ul>
				</div>
				<div class="footer__content-menu">
					<p class="footer__content-menu-title">Service</p>
					<ul>
						<li>Design</li>
						<li>Development</li>
						<li>Marketing</li>
						<li>See More</li>
					</ul>
				</div>

				<div class="footer__content-links">
						<div><img src="../images/footer/Links.svg" alt=""></div>
				</div>
			</div>

			<div class="footer__copyright">
				<p class="footer__copyright-text">Copyright © 2022 Laaqiq. All Rights Reserved.</p>
				<div class="footer__copyright-links">
					<a href="#">Terms of Use</a>
					<a href="#">Privacy Policy</a>
				</div>
			</div>
		</div>
	</footer>


	<script src="../scripts/mainPage.js"></script>


</body>
</html>