<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About</title>
	<link rel="stylesheet" href="../styles/secondPage.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
	<div class="header">
		<div class="header__box wrapper">
			<div class="header__logo">
				<div class="header__logo-img">
					<img src="../images/Polygon.svg" alt="logo">
					<img src="../images/Polygon1.svg" alt="logo-mobile">
				</div>
				<a href="mainPage.html" class="header__logo-text">Personal</a>
			</div>
			<nav class="header__nav">
				<ul class="header__nav-list">
					<li class="header__nav-item">
						<a href="#" class="header__nav-link">About</a>
					</li>
					<li class="header__nav-item">
						<a href="thirdPage.html" class="header__nav-link">Services</a>
					</li>
					<li class="header__nav-item">
						<a href="#" class="header__nav-link">Pricing</a>
					</li>
					<li class="header__nav-item">
						<a href="#" class="header__nav-link">Blog</a>
					</li>
				</ul>
			</nav>
			<button class="button">Contact</button>
			<img class="header__menu" src="../images/adaptive/menu.svg" alt="menu">
		</div>
	</div>

	<main class="main">
		<section class="main__header wrapper">
			<div class="main__header-content">
				<h1 class="main__header-content-title">About Me</h1>
				<p class="main__header-content-text">Agency provides a full service range including technical skills, design, business understanding.</p>
			</div>
		</section>

		<section class="about">
			<div class="about__box wrapper">
				<div class="about__box-img">
					<img src="../images/secondPageIMG/img1.svg" alt="about-image">
				</div>
			<div class="about__content">
				<p class="about__content-name">Gabriel Pires</p>
					<p class="about__content-title">Professional Web Designer</p>
					<p class="about__content-text">Ability to put themselves in the merchant's shoes. It is meant to partner on the long run, and work as an extension of the merchant's team. <br><br>A digital agency is a business you hire to outsource your digital marketing efforts, instead of handling in-house. They can provide your business with a variety of digital solutions to promote your product or service online and help you.</p>
			</div>

				<div class="about__cards">
					<div class="about__card">
						<div class="about__card-icon">
							<img src="../images/about-1.2.svg" alt="icon1">
						</div>
						<div>
							<p class="about__card-title">42%</p>
							<p class="about__card-subtitle">Years of experience</p>
						</div>
					</div>
					<div class="about__card2">
						<div class="about__card-icon">
							<img src="../images/about-1.svg" alt="icon1">
						</div>
						<div>
							<p class="about__card-title">73+</p>
							<p class="about__card-subtitle">Projects Done</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- VIDEO REEL -->
		<section class="video-reel">
			<div class="video-reel__box wrapper">
				<div class="video-reel__content">
					<h5 class="video-reel__title">Video Reel</h5>
					<h3 class="video-reel__subtitle">Unlock The Greatest Value Possible</h3>
					<p class="video-reel__text">Design, business understanding, ability to put themselves in the merchant's shoes meant to partner.</p>
					<video class="video-reel__video" src="../video/video.mp4" controls></video>
					<p class="video-reel__text">Ability to put themselves in the merchant's shoes. It is meant to partner on the long run, and work as an extension of the merchant's team. <br><br>A digital agency is a business you hire to outsource your digital marketing efforts, instead of handling in-house. They can provide your business with a variety of digital solutions to promote your product or service online and help you.</p>
				</div>
			</div>
		</section>

		<!-- Founder Words -->
		<section class="founder-words">
			<div class="founder-words__box wrapper">
				<div class="founder-words__content">
					<h5 class="founder-words__content-title">Founder Words</h5>
					<h3 class="founder-words__content-subtitle">Digital agency is a business you hire to outsource your digital marketing efforts</h3>
					<p class="founder-words__content-name">Gabriel Pires</p>
					<p class="founder-words__content-position">Founder</p>
					<img class="founder-words__content-img" src="../images/secondPageIMG/img2.png" alt="signature">
				</div>
			</div>

			<div class="founder-words__img wrapper">
				<img src="../images/secondPageIMG/img3.png" alt="about-image">
				<img src="../images/secondPageIMG/img4.png" alt="signature">
			</div>
		</section>


		<!-- CONTACT ME -->
		<section class="main-contact">
			<div class="main-contact__box wrapper">
				<div class="main-contact__content">
					<div class="main-contact__content-icon">
						<img src="../images/contactMe-present.svg" alt="icon">
					</div>
					<p class="main-contact__content-title">Get Started</p>
					<p class="main-contact__content-subtitle">I Help Companies <br> Move Faster</p>
					<button class="main-contact__content-button">Contact Me</button>
				</div>
				<div class="main-contact__text">
					<p class="main-contact__text-text">Put themselves in the merchant's shoes. It is <br> meant to partner on the long run.</p>
				</div>
				<div class="main-contact__image">
					<img src="../images/contactMe-block.png" alt="contact-image">
				</div>
			</div>
		</section>
	</main>


		<!-- ?FOOTER -->
		<footer class="footer">

			<div class="footer__box wrapper">
				<div class="footer__content">
					<div class="footer__content-logo">Personal</div>
					
					<div class="footer__content-menu">
						<p class="footer__content-menu-title">Menu</p>
						<ul>
							<li>About</li>
							<li>Services</li>
							<li>Blog</li>
							<li>Contact</li>
						</ul>
					</div>
					<div class="footer__content-menu">
						<p class="footer__content-menu-title">Service</p>
						<ul>
							<li>Design</li>
							<li>Development</li>
							<li>Marketing</li>
							<li>See More</li>
						</ul>
					</div>
	
					<div class="footer__content-links">
							<div><img src="../images/footer/Links.svg" alt=""></div>
					</div>
				</div>
	
				<div class="footer__copyright">
					<p class="footer__copyright-text">Copyright © 2022 Laaqiq. All Rights Reserved.</p>
					<div class="footer__copyright-links">
						<a href="#">Terms of Use</a>
						<a href="#">Privacy Policy</a>
					</div>
				</div>
			</div>
		</footer>

	<script src="../scripts/secondPage.js"></script>
</body>
</html>