<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Services</title>
	<link rel="stylesheet" href="../styles/thirdPage.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
	<div class="header">
		<div class="header__box wrapper">
			<div class="header__logo">
				<div class="header__logo-img">
					<img src="../images/Polygon.svg" alt="logo">
					<img src="../images/Polygon1.svg" alt="logo-mobile">
				</div>
				<a href="mainPage.html" class="header__logo-text">Agency</a>
			</div>
			<nav class="header__nav">
				<ul class="header__nav-list">
					<li class="header__nav-item">
						<a href="secondPage.html" class="header__nav-link">About</a>
					</li>
					<li class="header__nav-item">
						<a href="thirdPage.html" class="header__nav-link">Services</a>
					</li>
					<li class="header__nav-item">
						<a href="#" class="header__nav-link">Pricing</a>
					</li>
					<li class="header__nav-item">
						<a href="#" class="header__nav-link">Blog</a>
					</li>
				</ul>
			</nav>
			<button class="button">Contact</button>
			<img class="header__menu" src="../images/adaptive/menu.svg" alt="menu">
		</div>
	</div>
	
	<main class="main">
		<section class="main__header wrapper">
			<div class="main__header-content">
				<h1 class="main__header-content-title">Services</h1>
				<p class="main__header-content-text">Agency provides a full service range including technical skills, design, business understanding.</p>
			</div>
		</section>

		<!-- ?SERVICES -->
		<section class="services">
			<div class="services__box wrapper">
				<h5 class="services__title">Services</h5>
				<div class="services__content">
					<h3 class="services__content-title">Digital agency is a business you hire to outsource your digital marketing efforts</h3>
					<p class="services__content-text">Ability to put themselves in the merchant's shoes. It is meant to partner on the long run, and work as an extension of the merchant's team.<br><br>
					A digital agency is a business you hire to outsource your digital marketing efforts, instead of handling in-house. They can provide your business with a variety of digital solutions to promote your product or service online and help you.</p>
				</div>

				<div class="services__list">
					<div class="services__list-item">
						<label>
							<div class="services__list-icon">
								<img src="../images/thirdPage/list-img1.svg" alt="design">
							</div>
							Design
						</label>
						<div class="services__list-item-content">
							<h3>Agency is a business you hire to outsource your digital marketing efforts</h3>
							<p>Business you hire to outsource your digital marketing efforts, instead of handling in-house. They can provide your business with a variety of digital solutions to promote your product or service online and help you.</p>
							<ul class="services__list-item-content-list">
								<li>Web Development</li>
								<li>Brand Strategy</li>
								<li>Art Direction</li>
							</ul>
						</div>
					</div>
					<div class="services__list-item">
						<label>
							<div class="services__list-icon">
								<img src="../images/thirdPage/list-img2.svg" alt="development">
							</div>
							<div class="services__non-hidden-text">
								Development
							</div>
							<div class="services__hidden-text">
								Deve-lopment
							</div>
						</label>
						<div class="services__list-item-content">
							<h3>Agency is a business you hire to outsource your digital marketing efforts</h3>
							<p>Business you hire to outsource your digital marketing efforts, instead of handling in-house. They can provide your business with a variety of digital solutions to promote your product or service online and help you.</p>
							<ul class="services__list-item-content-list">
								<li>Web Development</li>
								<li>Brand Strategy</li>
								<li>Art Direction</li>
							</ul>
						</div>
					</div>
					<div class="services__list-item">
						<label>
							<div class="services__list-icon">
								<img src="../images/thirdPage/list-img3.svg" alt="marketing">
							</div>
							<div class="services__non-hidden-text">
								Marketing
							</div>
							<div class="services__hidden-text">
								Mar-keting
							</div>
						</label>
						<div class="services__list-item-content">
							<h3>Agency is a business you hire to outsource your digital marketing efforts</h3>
							<p>Business you hire to outsource your digital marketing efforts, instead of handling in-house. They can provide your business with a variety of digital solutions to promote your product or service online and help you.</p>
							<ul class="services__list-item-content-list">
								<li>Web Development</li>
								<li>Brand Strategy</li>
								<li>Art Direction</li>
							</ul>
						</div>
					</div>
			</div>
		</section>

		<!-- ?How we work -->
		<section class="how-we-work">
			<div class="how-we-work__box wrapper">
				<h5 class="how-we-work__title">How we work</h5>
				<div class="how-we-work__content">
					<div class="how-we-work__content-left">
						<h3 class="how-we-work__content-left-title">Making Your Projects <wbr> Look Awesome</h3>
						<p class="how-we-work__content-left-text">Technical skills, design, business understanding, ability to put themselves in the merchant's shoes.</p>
					</div>
					<ul class="how-we-work__list">
						<li>Full service range including</li>
						<li>Technical skills, design, business</li>
						<li>Themselves in the merchant's</li>
					</ul>
				</div>
			</div>

			<!-- ?PROMO-SECTION -->
			<div class="promoSection">
				<div class="promoSection__box wrapper">
					<div class="promoSection__content">
						<p class="promoSection__content-title">Gabriel Pires</p>
						<p class="promoSection__content-subtitle">Help To Build <br> Your Dream <br> Project</p>
						<p class="promoSection__content-text">A digital agency is a business you hire to outsource your <br> digital marketing efforts, instead of handling in-house.</p>
						<button class="promoSection__content-button">Contact Me</button>
					</div>
					<img src="../images/thirdPage/img4.svg" alt="promo-section-image">
			</div>
		</div>
		</section>

	

		<!-- ?FOOTER -->
	<footer class="footer">

		<div class="footer__box wrapper">
			<div class="footer__content">
				<div class="footer__content-logo">Agency</div>
				
				<div class="footer__content-menu">
					<p class="footer__content-menu-title">Menu</p>
					<ul>
						<li>About</li>
						<li>Services</li>
						<li>Blog</li>
						<li>Contact</li>
					</ul>
				</div>
				<div class="footer__content-menu">
					<p class="footer__content-menu-title">Service</p>
					<ul>
						<li>Design</li>
						<li>Development</li>
						<li>Marketing</li>
						<li>See More</li>
					</ul>
				</div>

				<div class="footer__content-links">
						<div><img src="../images/footer/Links.svg" alt=""></div>
				</div>
			</div>

			<div class="footer__copyright">
				<p class="footer__copyright-text">Copyright © 2022 Laaqiq. All Rights Reserved.</p>
				<div class="footer__copyright-links">
					<a href="#">Terms of Use</a>
					<a href="#">Privacy Policy</a>
				</div>
			</div>
		</div>
	</footer>
		
		
	</main>


	<script src="../scripts/thirdPage.js"></script>
	<script src="../scripts/header.js"></script>
</body>
</html>
