

.header {
	background-color: $dark-color;
	color: #fff;
	padding: 15px 0;
	position: sticky;
	top: 0;
	z-index: 1000;

	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		display: flex;
		align-items: center;
		gap: 10px;
		&-text {
			font-size: 24px;
			font-weight: 700;
			text-decoration: none;
			transition: all 0.3s ease;
			&:hover {
				color: rgb(239, 109, 88);
			}
		}
		&-img {
			position: relative;
			img:nth-of-type(1) {
				position: relative;
			}
			img:nth-of-type(2) {
				position: absolute;
				top:50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
	// !MENU
	&__menu {
		display: none;
		@media (max-width: 500px) {
			display: block;
			z-index: 11;
		}
	}
}

.wrapper {
	max-width: 1240px;
	margin: 0 auto;
	@media (max-width: 1240px) {
		max-width: 100%;
		padding: 0 15px;
	}
}



.button {
	background-color: inherit;
	color: #fff;
	border: 1px solid rgba(255, 255, 255, 0.2957);
	border-radius: 5px;
	text-transform: uppercase;
	padding: 17px 30px 16px 30px;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	font-weight: 700;
	transition: all 0.3s ease;
	&:hover {
		background-color: #fff;
		color: $dark-color;
	}
	@media (max-width: 500px) {
		display: none;
	}
}

.header__nav {
	@media (max-width: 500px) {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		text-align: center;
		// background: #E7E7E7;
		opacity: 0;
		z-index: -1;
		visibility: hidden;
		transition: all .375s;
		height: 100vh;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: -15px;
			background: #FEDC2A;
			transform-origin: 0 0;
			transform: skew(-14deg) translateX(-120%);
			transition: all .275s .1s;
		}
	}
	&-list {
		display: flex;
		gap: 70px;
		list-style: none;
		@media (max-width: 500px) {
			display: inline-flex;
			flex-direction: column;
			height: 100%; /* Should be 100%, but we have a notice message :D */
			align-items: flex-end;
			justify-content: center;
			transform: translateX(-18%) skew(-16deg);
		}

	}
	&-item {
		transition: 0.4s ease;
		@media (max-width: 500px) {
			display: block;
			margin: .5rem 0;
			text-align: right;
			transform: skew(16deg);
		}

		&:hover {
			transform: scale(1.1);
		}
		a {
			@media (max-width: 500px) {
				opacity: 0;
				transform: translateY(-10px);
			}
		}
	}

	&-item:nth-child(1) a {
		@media (max-width: 500px) {
			transition: all 275ms 175ms
		}
	}
	&-item:nth-child(2) a {
		@media (max-width: 500px) {
			transition: all 275ms 275ms
		}
	}
	&-item:nth-child(3) a {
		@media (max-width: 500px) {
			transition: all 275ms 375ms
		}
	}
	&-item:nth-child(4) a {
		@media (max-width: 500px) {
			transition: all 275ms 475ms
		}
	}




	&-link {
		color: #fff;
		text-decoration: none;
		font-size: 16px;
		font-weight: 300;
	}
}


@media (max-width: 500px) {
	.header__nav.is-open {
		opacity: 1;
    z-index: 10;
    visibility: visible;
		&::before {
			transform: skew(-14deg) translateX(0);
		}
		a {
			opacity: 1;
			transform: translateY(0);
		}
	}
	.header__nav-list,
	.header__nav-item {
		list-style: none;
		padding: 0;
	}
	.header__nav-link {
		display: block;
		padding: 12px 0;
		color: #5A3B5D;
		font-size: 1.4em;
			text-decoration: none;
			font-weight: bold;
		}
		.header {
			&.is-open {
					height: 100vh;
			}
	}
	}



