@import "./shared/args&mixins";
@import "./shared/header";
@import "./shared/footer";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: #fff;
	font-family: 'Epilogue', sans-serif;
}

.main {
	&__header {
		&-content {
			width: 100%;
			display: block;
			text-align: center;
			padding-top: 104px;
			padding-bottom: 66px;
			&-title {
				font-size: 72px;
				margin-bottom: 24px;
			}
			&-text {
				@include text-light-gray;
				width: 45%;
				margin: 0 auto;
				@media (max-width: 500px) {
					width: 85%;
				}
			}
		}
	}
}

.hidden-map{
	display: none;
	@media (max-width: 500px) {
		display: block;
		padding: 64px 20px 64px;
	}
	&-pc{
		display: block;
		@media (max-width: 500px) {
			display: none;
		}
	}
}


// ?MAP--------------------------------
.map {
	background-color: #FDF1E9;
	@media (max-width: 500px) {

	}

	&__bg {
		padding: 178px 0 208px;
		background-image: url(../images/fourthPage/map.svg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@media (max-width: 500px) {
			height: 720px;
		}
	}

	&__box {
		display: flex;
		justify-content: space-between;
		gap: 130px;
		@media (max-width: 500px) {
			flex-direction: column;
			gap: 70px;
		}
	}

	&__form {
		background-color: #fff;
		padding: 54px 48px 48px 48px;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media (max-width: 500px) {
			padding: 57px 28px 48px 28px;
		}


		&-name {
			font-size: 24px;
			font-weight: 800;
			color: $color-text-dark;

			margin-bottom: 20px;
		}

		&-input {
			width: 474px;
			height: 48px;
			border-radius: 5px;
			border: 1px solid rgba(243, 209, 191, 1);
			padding: 10px 20px;
			font-size: 16px;
			color: $color-text-dark;


			margin-bottom: 20px;
			@media (max-width: 500px) {
				width: 100%;
			}
		}
				
		&-textarea {
			@extend .map__form-input;
			width: 474px;
			height: 158px;
			margin-bottom: 40px;
			@media (max-width: 500px) {
				width: 100%;
			}
		}

		&-button {
			display: block;
			@include button-orange;
			align-self: flex-end;
		}
	}

	&__cards {
		padding-top: 80px;
		display: flex;
		@media (max-width: 500px) {
			flex-direction: column;
		}

		&-card {
			flex: 1;
			padding: 32px 32px 32px 48px;
			border: 1px solid rgba(243, 209, 191, 1);
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			&-img {
				width: 64px;
				height: 64px;
				margin-right: 24px;
				border-radius: 50%;
				background-color: rgba(239, 109, 88, 1);
				display: flex;
				align-items: center;
				justify-content: center;
			}

			&-title {
				@include title-orange;
			}
			&-text {
				color: $color-text-dark;
				font-size: 20px;
				font-weight: 330;
				flex-basis: 100%;

				margin-top: 26px;
			}

		}

		&-card2 {
			@extend .map__cards-card;
			border-left: none;
			@media (max-width: 500px) {
				border-top: none;
				border-left: 1px solid rgba(243, 209, 191, 1);
			}
		}
		&-card3 {
			@extend .map__cards-card;
			border-left: none;
			@media (max-width: 500px) {
				border-top: none;
				border-left: 1px solid rgba(243, 209, 191, 1);
			}
		}

	}
}


// ?FAQ--------------------------------
.main-FAQ {
	background-color: #FDF1E9;
	margin-top: -1px;

	padding-bottom: 123px;
	@media (max-width: 500px) {
		padding-bottom: 50px;
	}
	&__box {
		display: flex;
		justify-content: space-between;
		@media (max-width: 500px) {
			flex-direction: column;
			gap: 10px;
		}
	}
	&__contentLeft {
		padding-top: 144px;
		@media (max-width: 500px) {
			padding-top: 70px;
		}

		&-title {
			@include title-orange;

			margin-bottom: 17px;
		}
		&-subtitle {
			@include h3-title-dark;

			margin-bottom: 31px;
			@media (max-width: 500px) {
				width: 80%;
			}
		}
		&-text {
			@include text-dark-gray;
			width: 60%;
			
			margin-bottom: 30px;
			@media (max-width: 500px) {
				width: 85%;
			}
		}

		&-button {
			display: inline-block;
			font-weight: 330;
			color: $color-text-dark;
			border: none;
			text-decoration: none;
			cursor: pointer;

			transition: all 0.3s ease;

			&:hover {
				color: #EF6D58;
				transform: translateX(10px);
				&:before {
					transform: translateX(5px);
					opacity: 1; 
				}
			}
			&:before {
				content: '→'; 
				opacity: 0; 
				transition: all 0.3s ease;
				color: #EF6D58; 

				margin-right: 10px;
			}
		}
	}
	&__contentRight {
		padding-top: 160px;
		@media (max-width: 500px) {
			padding-top: 60px;
		}

		&-list {
			max-width: 570px;
			&-item {
				position: relative;
				border: 1px solid #F3D1BF;
				// will-change: transform;

				label {
					position: relative;
					font-size: 24px;
					font-weight: 700;
					color: $color-text-dark;
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 41px 48px;

					transition: 0.3s ease;
					@media (max-width: 500px) {
						padding: 41px 30px 39px;
					}
					@media (max-width: 391px) {
						padding: 41px 20px 39px;
					}
					&::after {
						content: '';
						display: inline-block;
						background: url(../images/FAQ-down.svg) no-repeat center center / contain;
						width: 32px;
						height: 32px;
						margin-left: 60px;
						cursor: pointer;
						flex-shrink: 0;
						transform: rotate(0deg);
						transition: transform 0.3s ease; 


						@media (max-width: 500px) {
							align-self: flex-start;
						}
					}
				}

				&-content {
					background-color: #fff;
					overflow: hidden;
					transition: 0.4s ease;
					max-height: 0;

					p {
						font-size: 16px;
						font-weight: 330;
						color: $color-text-opacity;
						line-height: 1.7;
						padding: 0 48px 41px;
					}
				}
			}

			&-item.active {
				label::after {
					transform: rotate(180deg);
					transition: transform 0.3s ease;
					
				}
			}


			&-item:nth-child(n + 2) {
				border-top: none;
			}
		}
	}
}


// ?FOOTER--------------------------------
.footer {
	background-color: #FDF1E9;
	padding-top: 0;
	&__box {
		@media (max-width: 500px) {
			&::before {
				content: '';
				display: block;
				width: 90%; 
				margin: 0 auto;
				border-top: 1px solid rgba(243, 209, 191, 1);
			}
		}

	}

	&__content {
		padding-top: 90px;
		border-top: 1px solid rgba(243, 209, 191, 1);
		@media (max-width: 500px) {
			border-top: none;
		}

		&-logo {
			color: $color-text-dark;
		}
		&-menu {
			ul {
				li {
					color: $color-text-dark;
				}
			}
		}
	}

	&__copyright {
		border-top: 1px solid rgba(243, 209, 191, 1);
		&-text {
			color: $Text_Dark_Gray;
		}
		&-links {
			a {
				color: $color-text-dark;
			}
		}
	}
}