@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Epilogue", sans-serif;
}

html {
  background-color: #28293E;
  overscroll-behavior-y: none;
  image-rendering: pixelated;
}

body {
  image-rendering: pixelated;
}

div {
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .wrapper {
    max-width: 100%;
    padding: 0 15px;
  }
}

.header {
  background-color: #28293E;
  color: #fff;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo-text {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease;
}
.header__logo-text:hover {
  color: rgb(239, 109, 88);
}
.header__logo-img {
  position: relative;
}
.header__logo-img img:nth-of-type(1) {
  position: relative;
}
.header__logo-img img:nth-of-type(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__menu {
  display: none;
}
@media (max-width: 500px) {
  .header__menu {
    display: block;
    z-index: 11;
  }
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
}
@media (max-width: 1240px) {
  .wrapper {
    max-width: 100%;
    padding: 0 15px;
  }
}

.button {
  background-color: inherit;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2957);
  border-radius: 5px;
  text-transform: uppercase;
  padding: 17px 30px 16px 30px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #fff;
  color: #28293E;
}
@media (max-width: 500px) {
  .button {
    display: none;
  }
}

@media (max-width: 500px) {
  .header__nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all 0.375s;
    height: 100vh;
  }
  .header__nav::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    background: #FEDC2A;
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all 0.275s 0.1s;
  }
}
.header__nav-list {
  display: flex;
  gap: 70px;
  list-style: none;
}
@media (max-width: 500px) {
  .header__nav-list {
    display: inline-flex;
    flex-direction: column;
    height: 100%; /* Should be 100%, but we have a notice message :D */
    align-items: flex-end;
    justify-content: center;
    transform: translateX(-18%) skew(-16deg);
  }
}
.header__nav-item {
  transition: 0.4s ease;
}
@media (max-width: 500px) {
  .header__nav-item {
    display: block;
    margin: 0.5rem 0;
    text-align: right;
    transform: skew(16deg);
  }
}
.header__nav-item:hover {
  transform: scale(1.1);
}
@media (max-width: 500px) {
  .header__nav-item a {
    opacity: 0;
    transform: translateY(-10px);
  }
}
@media (max-width: 500px) {
  .header__nav-item:nth-child(1) a {
    transition: all 275ms 175ms;
  }
}
@media (max-width: 500px) {
  .header__nav-item:nth-child(2) a {
    transition: all 275ms 275ms;
  }
}
@media (max-width: 500px) {
  .header__nav-item:nth-child(3) a {
    transition: all 275ms 375ms;
  }
}
@media (max-width: 500px) {
  .header__nav-item:nth-child(4) a {
    transition: all 275ms 475ms;
  }
}
.header__nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 500px) {
  .header__nav.is-open {
    opacity: 1;
    z-index: 10;
    visibility: visible;
  }
  .header__nav.is-open::before {
    transform: skew(-14deg) translateX(0);
  }
  .header__nav.is-open a {
    opacity: 1;
    transform: translateY(0);
  }
  .header__nav-list,
  .header__nav-item {
    list-style: none;
    padding: 0;
  }
  .header__nav-link {
    display: block;
    padding: 12px 0;
    color: #5A3B5D;
    font-size: 1.4em;
    text-decoration: none;
    font-weight: bold;
  }
  .header.is-open {
    height: 100vh;
  }
}
.footer__images {
  background-color: #FDF0E9;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .footer__images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .footer__images img {
    width: 50%;
  }
}

.footer {
  background-color: #28293E;
  padding-top: 89px;
  padding-bottom: 52px;
}
@media (max-width: 500px) {
  .footer__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 68px;
}
@media (max-width: 500px) {
  .footer__content {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}
.footer__content-logo {
  font-size: 24px;
  font-weight: 650;
  color: #fff;
}
.footer__content-menu-title {
  font-size: 16px;
  font-weight: 400;
  color: #EF6D58;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 30px;
}
.footer__content-menu ul {
  list-style: none;
}
.footer__content-menu ul li {
  font-size: 16px;
  font-weight: 330;
  color: #fff;
  padding-bottom: 15px;
}
.footer__content-links {
  cursor: pointer;
}
.footer__copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 43px;
  padding-bottom: 20px;
  border-top: 1px solid rgb(58, 60, 86);
}
@media (max-width: 500px) {
  .footer__copyright {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
  }
}
.footer__copyright-text {
  font-size: 16px;
  font-weight: 330;
  color: rgba(255, 255, 255, 0.64);
}
@media (max-width: 500px) {
  .footer__copyright-text {
    max-width: 60%;
  }
}
.footer__copyright-links {
  display: flex;
  gap: 68px;
}
.footer__copyright-links a {
  text-decoration: none;
}

html {
  background-color: #28293E;
}

.main {
  background-color: #28293E;
  margin: 0;
  width: 100%;
}

.main__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 139px;
}
@media (max-width: 500px) {
  .main__header {
    flex-direction: column-reverse;
    gap: 50px;
    padding: 10px 10px 48px 10px;
  }
}
@media (max-width: 500px) {
  .main__header-content {
    padding-bottom: 50px;
  }
}
.main__header-title {
  font-size: 72px;
  font-weight: 700;
  margin-top: 30px;
}
.main__header-text {
  font-size: 16px;
  font-weight: 300;
  margin-top: 24px;
  color: rgba(255, 255, 255, 0.64);
  margin-bottom: 34px;
  line-height: 1.5;
  width: 470px;
}
@media (max-width: 500px) {
  .main__header-text {
    max-width: 90%;
  }
}
.main__header-button {
  background-color: rgb(239, 109, 88);
  color: #fff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease;
}
.main__header-button:hover {
  background-color: rgb(161, 71, 57);
}
.main__header-image {
  margin-top: 10px;
}
@media (max-width: 500px) {
  .main__header-image img {
    width: 100%;
    height: 100%;
  }
}

.text-orange {
  font-size: 16px;
  font-weight: 400;
  color: #EF6D58;
  text-transform: uppercase;
  padding-top: 204px;
  letter-spacing: 3px;
}
@media (max-width: 500px) {
  .text-orange {
    padding-top: 10px;
  }
}

.main-service {
  width: 100%;
  background-color: #FDF0E9;
}

.main-service__title {
  font-size: 16px;
  font-weight: 400;
  color: #EF6D58;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.text-center {
  text-align: center;
}

.main-service p:first-child {
  padding-top: 92px;
  margin-bottom: 35px;
}

.main-service h1:nth-child(2) {
  font-size: 56px;
  color: rgb(57, 20, 0);
}

.main-service__cards {
  display: flex;
  margin-top: 35px;
}
@media (max-width: 500px) {
  .main-service__cards {
    flex-direction: column;
  }
}

.main-service__card {
  width: 50%;
  border: 1px solid rgb(243, 209, 191);
  border-radius: 5px 0 0 5px;
  padding: 48px;
}
@media (max-width: 500px) {
  .main-service__card {
    width: 100%;
    padding: 20px;
    border-radius: 5px 5px 0 0;
  }
}
.main-service__card-description {
  color: rgba(57, 20, 0, 0.64);
  font-size: 16px;
  font-weight: 330;
  margin-top: 28px;
  line-height: 1.7;
}
.main-service__card-learn-more {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 30px;
}
.main-service__card-learn-more-icon {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-service__card-learn-more-text {
  font-size: 16px;
  font-weight: 340;
  color: rgb(57, 20, 0);
}
.main-service__card-development {
  border-radius: 0 5px 5px 0;
  border-left: none;
}
@media (max-width: 500px) {
  .main-service__card-development {
    border-radius: 0 0 5px 5px;
    border-left: 1px solid rgb(243, 209, 191);
    border-top: none;
  }
}

.main-service__card-header {
  display: flex;
  align-items: center;
  gap: 24px;
}
.main-service__card-header-icon {
  width: 80px;
  height: 80px;
  background-color: #EF6D58;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-service__card-header-text {
  font-size: 24px;
  font-weight: 650;
  color: rgb(57, 20, 0);
}

.main-service__explore {
  margin-top: 60px;
  padding-bottom: 100px;
  color: rgba(57, 20, 0, 0.64);
}

.main-service__explore a {
  color: rgb(57, 20, 0);
}

.main-portfolio__header {
  padding: 108px 0 64px 0;
}
.main-portfolio__header-title {
  font-size: 16px;
  font-weight: 400;
  color: #EF6D58;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.main-portfolio__header-flex {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .main-portfolio__header-flex {
    flex-direction: column;
    gap: 20px;
  }
}
.main-portfolio__header-button {
  background-color: inherit;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2957);
  border-radius: 5px;
  text-transform: uppercase;
  padding: 17px 30px 16px 30px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease;
}
.main-portfolio__header-button:hover {
  background-color: #fff;
  color: #28293E;
}
@media (max-width: 500px) {
  .main-portfolio__header-button {
    width: 174px;
  }
}
.main-portfolio__header-subtitle {
  font-size: 56px;
  color: white;
  font-weight: 700;
}
@media (max-width: 500px) {
  .main-portfolio__header-subtitle {
    font-size: 40px;
  }
}
.main-portfolio__cards {
  width: 80%;
  display: flex;
  justify-content: center;
  padding: 0 30px;
  margin: 0 auto 66px;
}
@media (max-width: 500px) {
  .main-portfolio__cards {
    flex-direction: column;
    padding: 0;
    width: 100%;
  }
}
.main-portfolio__card {
  width: 33%;
  height: 576px;
  padding: 16px 15px;
  border: 1px solid rgba(255, 255, 255, 0.075);
  cursor: pointer;
}
@media (max-width: 500px) {
  .main-portfolio__card {
    width: 100%;
    height: 470px;
    border-right: none;
    border-left: none;
    border-bottom: none;
  }
}
.main-portfolio__card-image {
  background: url(../images/SOFA.png) no-repeat center center/cover;
  width: 100%;
  height: 100%;
  padding: 51px 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  transition: all 0.3s ease;
}
.main-portfolio__card-image:hover {
  opacity: 0.92;
  transform: scale(1.005);
}
.main-portfolio__card-image-title {
  height: 38px;
  padding: 12px 12px;
  border-radius: 20px;
  background-color: white;
  color: #28293E;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 24px;
}
.main-portfolio__card-image-subtitle {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-weight: 800;
  white-space: nowrap;
}
.main-portfolio__card2 {
  width: 33%;
  height: 576px;
  padding: 16px 15px;
  border: 1px solid rgba(255, 255, 255, 0.075);
  cursor: pointer;
}
@media (max-width: 500px) {
  .main-portfolio__card2 {
    width: 100%;
    height: 470px;
    border-right: none;
    border-left: none;
    border-bottom: none;
  }
}
.main-portfolio__card2-image {
  background: url(../images/KEYBOARD.png) no-repeat center center/cover;
  width: 100%;
  height: 100%;
  padding: 51px 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  transition: all 0.3s ease;
}
.main-portfolio__card2-image:hover {
  opacity: 0.92;
  transform: scale(1.005);
}
.main-portfolio__card2-image-title {
  height: 38px;
  padding: 12px 15px;
  border-radius: 20px;
  background-color: white;
  color: #28293E;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 24px;
}
.main-portfolio__card3 {
  width: 33%;
  height: 576px;
  padding: 16px 15px;
  border: 1px solid rgba(255, 255, 255, 0.075);
  cursor: pointer;
}
@media (max-width: 500px) {
  .main-portfolio__card3 {
    width: 100%;
    height: 470px;
    border-right: none;
    border-left: none;
  }
}
.main-portfolio__card3-image {
  background: url(../images/WORKMEDIA.png) no-repeat center center/cover;
  width: 100%;
  height: 100%;
  padding: 51px 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  transition: all 0.3s ease;
}
.main-portfolio__card3-image:hover {
  opacity: 0.92;
  transform: scale(1.005);
}
.main-portfolio__card3-image-title {
  height: 38px;
  padding: 12px 15px;
  border-radius: 20px;
  background-color: white;
  color: #28293E;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
}

.main-about {
  background-color: #FDF0E9;
  padding-bottom: 112px;
}
.main-about__about-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 187px;
}
@media (max-width: 500px) {
  .main-about__about-flex {
    flex-direction: column;
    gap: 10px;
    padding-top: 60px;
  }
}
@media (max-width: 500px) {
  .main-about__image {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .main-about__image img {
    width: 100%;
  }
}
.main-about__content-title {
  font-size: 16px;
  font-weight: 400;
  color: #EF6D58;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 30px;
  padding-top: 49px;
}
.main-about__content-subtitle {
  font-size: 56px;
  font-weight: 800;
  color: rgb(57, 20, 0);
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .main-about__content-subtitle {
    font-size: 40px;
  }
}
.main-about__content-subtitle-text {
  font-size: 20px;
  font-weight: 400;
  color: rgb(57, 20, 0);
  margin-bottom: 20px;
}
.main-about__content-text {
  color: rgba(57, 20, 0, 0.64);
  font-size: 16px;
  font-weight: 330;
  line-height: 1.7;
  margin-bottom: 34px;
}
.main-about__content-button {
  color: #28293E;
  text-transform: uppercase;
  font-weight: 800;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 17px 35px 16px 35px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.main-about__content-button:hover {
  background-color: #EF6D58;
  color: #fff;
}
.main-about__cards {
  margin-top: 174px;
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .main-about__cards {
    flex-direction: column;
    margin-top: 96px;
  }
}
.main-about__card {
  width: 100%;
  border: 1px solid rgb(243, 209, 191);
  padding: 32px 48px;
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 500px) {
  .main-about__card {
    gap: 28px;
  }
}
.main-about__card-icon {
  width: 112px;
  height: 112px;
  background-color: #EF6D58;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .main-about__card-icon {
    flex-shrink: 0;
  }
}
.main-about__card-title {
  font-size: 40px;
  font-weight: 800;
  color: rgb(57, 20, 0);
  padding-top: 15px;
  margin-bottom: 13px;
}
.main-about__card-subtitle {
  font-size: 20px;
  font-weight: 400;
  color: #28293E;
  margin-bottom: 34px;
  line-height: 1.7;
}
.main-about__card-projects {
  border-left: none;
}
@media (max-width: 500px) {
  .main-about__card-projects {
    border-top: none;
    border-left: 1px solid rgb(243, 209, 191);
    border-radius: 0 0 5px 5px;
  }
}

.main-features {
  background-color: #28293E;
}
@media (max-width: 500px) {
  .main-features {
    padding-top: 77px;
    padding-bottom: 90px;
  }
}
.main-features__box {
  padding-top: 151px;
  padding-bottom: 159px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .main-features__box {
    flex-direction: column-reverse;
    gap: 10px;
    padding-bottom: 50px;
  }
}
@media (max-width: 500px) {
  .main-features__image {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .main-features__image img {
    width: 100%;
  }
}
.main-features__content {
  padding-top: 53px;
}
.main-features__content-title {
  font-size: 16px;
  font-weight: 400;
  color: #EF6D58;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 30px;
}
.main-features__content-subtitle {
  font-size: 56px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 28px;
}
.main-features__content-text {
  font-size: 20px;
  font-weight: 330;
  color: white;
  line-height: 1.7;
  margin-bottom: 30px;
}
.main-features__content-list {
  margin-top: 34px;
}
.main-features__content-list li {
  font-size: 16px;
  font-weight: 330;
  color: rgba(255, 255, 255, 0.64);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20px;
}
.main-features__content-list li::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../images/check.svg) no-repeat center;
  background-size: contain;
  margin-right: 10px;
}

html {
  background-color: #28293E;
  overscroll-behavior-y: none;
  image-rendering: pixelated;
}

body {
  image-rendering: pixelated;
}

div {
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .wrapper {
    max-width: 100%;
    padding: 0 15px;
  }
}

.main-contact {
  background-color: rgb(249, 229, 218);
  padding-bottom: 40px;
}
.main-contact__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .main-contact__box {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0 50px;
  }
}
.main-contact__content-icon {
  width: 147px;
  height: 146px;
  background: url(../images/contactMe-star.svg) no-repeat center center/cover;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -75px;
  margin-left: -10px;
  margin-bottom: 22px;
}
.main-contact__content-title {
  font-size: 16px;
  font-weight: 400;
  color: #EF6D58;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 15px;
}
.main-contact__content-subtitle {
  font-size: 24px;
  color: #391400;
  line-height: 1.7;
  font-weight: 700;
  margin-bottom: 23px;
}
.main-contact__content-button {
  background-color: rgb(239, 109, 88);
  color: #fff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease;
}
.main-contact__content-button:hover {
  background-color: rgb(161, 71, 57);
}
.main-contact__text p {
  color: rgba(57, 20, 0, 0.64);
  font-size: 16px;
  font-weight: 350;
  line-height: 1.7;
  margin-top: 60px;
  margin-left: 30px;
}
@media (max-width: 500px) {
  .main-contact__text p {
    margin-left: 0;
  }
}
.main-contact__image {
  background: url(../images/contactMe-cloud.svg) no-repeat center center/cover;
  width: 282px;
  height: 242px;
  margin-top: 60px;
  margin-left: 100px;
  position: relative;
}
@media (max-width: 500px) {
  .main-contact__image {
    margin: 0 auto;
  }
}
.main-contact__image > img {
  position: absolute;
  right: -22px;
  top: 25px;
}
@media (max-width: 500px) {
  .main-contact__image > img {
    right: -28px;
  }
}

.main-testimonials {
  padding: 108px 0 96px;
  background-color: #FDF0E9;
}
.main-testimonials__title {
  font-size: 16px;
  font-weight: 400;
  color: #EF6D58;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.main-testimonials__subtitle {
  font-size: 56px;
  font-weight: 800;
  color: #391400;
  margin-bottom: 64px;
}
@media (max-width: 500px) {
  .main-testimonials__subtitle {
    font-size: 40px;
  }
}
.main-testimonials__cards {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .main-testimonials__cards {
    flex-direction: column;
    gap: 0;
  }
}
.main-testimonials__cards-card {
  width: 100%;
  border: 1px solid rgb(243, 209, 191);
  padding: 48px 34px;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .main-testimonials__cards-card {
    padding: 35px 28px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.main-testimonials__cards-card > img:nth-child(1) {
  margin-bottom: 36px;
}
.main-testimonials__cards-card-text {
  font-size: 16px;
  font-weight: 330;
  color: rgba(57, 20, 0, 0.64);
  line-height: 1.7;
  margin-bottom: 64px;
}
.main-testimonials__cards-card-name {
  font-size: 24px;
  font-weight: 700;
  color: #391400;
}
.main-testimonials__cards-card-whence {
  font-size: 16px;
  font-weight: 330;
  color: #391400;
}
.main-testimonials__cards-card div {
  display: flex;
  align-items: center;
  gap: 16px;
}
.main-testimonials__cards-card div div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media (max-width: 500px) {
  .main-testimonials__cards-card:nth-child(2) {
    margin-left: 0px;
    border-top: none;
    border-radius: 0;
  }
}
@media (max-width: 500px) {
  .main-testimonials__cards-card:nth-child(3) {
    margin-left: 0px;
    border-top: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.main-testimonials__button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-testimonials__button-box-btn {
  color: #28293E;
  text-transform: uppercase;
  font-weight: 800;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 17px 35px 16px 35px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 64px;
}
.main-testimonials__button-box-btn:hover {
  color: #fff;
  background-color: #EF6D58;
}

.main-FAQ {
  background-color: #28293E;
  padding-bottom: 123px;
}
@media (max-width: 500px) {
  .main-FAQ {
    padding-bottom: 50px;
  }
}
.main-FAQ__box {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .main-FAQ__box {
    flex-direction: column;
    gap: 10px;
  }
}
.main-FAQ__contentLeft {
  padding-top: 144px;
}
@media (max-width: 500px) {
  .main-FAQ__contentLeft {
    padding-top: 70px;
  }
}
.main-FAQ__contentLeft-title {
  font-size: 16px;
  font-weight: 400;
  color: #EF6D58;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 17px;
}
.main-FAQ__contentLeft-subtitle {
  font-size: 40px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 31px;
}
@media (max-width: 500px) {
  .main-FAQ__contentLeft-subtitle {
    width: 80%;
  }
}
.main-FAQ__contentLeft-text {
  font-size: 16px;
  font-weight: 330;
  color: rgba(255, 255, 255, 0.64);
  line-height: 1.7;
  margin-bottom: 30px;
}
.main-FAQ__contentLeft-button {
  display: inline-block;
  font-weight: 330;
  color: #fff;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.main-FAQ__contentLeft-button:hover {
  color: #EF6D58;
  transform: translateX(10px);
}
.main-FAQ__contentLeft-button:hover:before {
  transform: translateX(5px);
  opacity: 1;
}
.main-FAQ__contentLeft-button:before {
  content: "→";
  opacity: 0;
  transition: all 0.3s ease;
  color: #EF6D58;
  margin-right: 10px;
}
.main-FAQ__contentRight {
  padding-top: 160px;
}
@media (max-width: 500px) {
  .main-FAQ__contentRight {
    padding-top: 60px;
  }
}
.main-FAQ__contentRight-list {
  max-width: 570px;
}
.main-FAQ__contentRight-list-item {
  position: relative;
  border: 1px solid rgb(58, 60, 86);
  background-color: #28293E;
}
.main-FAQ__contentRight-list-item label {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 41px 48px;
  transition: 0.3s ease;
}
@media (max-width: 500px) {
  .main-FAQ__contentRight-list-item label {
    padding: 41px 30px 39px;
  }
}
@media (max-width: 391px) {
  .main-FAQ__contentRight-list-item label {
    padding: 41px 20px 39px;
  }
}
.main-FAQ__contentRight-list-item label::after {
  content: "";
  display: inline-block;
  background: url(../images/FAQ-down.svg) no-repeat center center/contain;
  width: 32px;
  height: 32px;
  margin-left: 60px;
  cursor: pointer;
  flex-shrink: 0;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}
@media (max-width: 500px) {
  .main-FAQ__contentRight-list-item label::after {
    align-self: flex-start;
  }
}
.main-FAQ__contentRight-list-item-content {
  background-color: #fff;
  overflow: hidden;
  transition: 0.4s ease;
  max-height: 0;
}
.main-FAQ__contentRight-list-item-content p {
  font-size: 16px;
  font-weight: 330;
  color: rgba(57, 20, 0, 0.64);
  line-height: 1.7;
  padding: 0 48px 41px;
}
.main-FAQ__contentRight-list-item.active label::after {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.main-FAQ__contentRight-list-item:nth-child(n+2) {
  border-top: none;
}
.main-FAQ__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 144px;
}
@media (max-width: 500px) {
  .main-FAQ__footer {
    display: none;
  }
}

.main-blog {
  padding-top: 92px;
  padding-bottom: 84px;
  background-color: #FDF0E9;
}
.main-blog__title {
  font-size: 16px;
  font-weight: 400;
  color: #EF6D58;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.main-blog__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 70px;
}
@media (max-width: 500px) {
  .main-blog__header {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 40px;
  }
}
.main-blog__header-subtitle {
  font-size: 56px;
  font-weight: 800;
  color: #391400;
}
@media (max-width: 500px) {
  .main-blog__header-subtitle {
    font-size: 40px;
  }
}
.main-blog__header-button {
  color: #28293E;
  text-transform: uppercase;
  font-weight: 800;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 17px 35px 16px 35px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}
.main-blog__header-button:hover {
  color: #fff;
  background-color: #EF6D58;
}
.main-blog__cards {
  display: flex;
  justify-content: space-between;
  padding-bottom: 68px;
}
@media (max-width: 500px) {
  .main-blog__cards {
    flex-direction: column;
    gap: 70px;
  }
}
@media (max-width: 500px) {
  .main-blog__cards-cardLeft img {
    width: 100%;
    height: 224px;
  }
}
.main-blog__cards-cardLeft-title {
  font-size: 20px;
  font-weight: 330;
  color: #391400;
  margin-bottom: 31px;
  margin-top: 26px;
}
.main-blog__cards-cardLeft-subtitle {
  font-size: 40px;
  font-weight: 800;
  color: #391400;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .main-blog__cards-cardLeft-subtitle {
    font-size: 24px;
  }
}
.main-blog__cards-cardLeft-date {
  font-size: 16px;
  font-weight: 330;
  color: rgba(57, 20, 0, 0.64);
}
.main-blog__cards-cardRight-card {
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .main-blog__cards-cardRight-card img {
    width: 100%;
    height: 224px;
  }
}
.main-blog__cards-cardRight-card-title {
  font-size: 20px;
  font-weight: 330;
  color: #391400;
  margin-bottom: 15px;
  margin-top: 26px;
}
.main-blog__cards-cardRight-card-subtitle {
  font-size: 24px;
  font-weight: 700;
  color: #391400;
  margin-bottom: 17px;
}
.main-blog__cards-cardRight-card-date {
  font-size: 16px;
  font-weight: 330;
  color: rgba(57, 20, 0, 0.64);
  margin-bottom: 13px;
}
.main-blog__footer {
  padding-top: 56px;
  border-top: 1px solid rgb(243, 209, 191);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .main-blog__footer {
    flex-direction: column;
    gap: 30px;
  }
}
.main-blog__footer-left-title {
  font-size: 24px;
  font-weight: 650;
  color: #391400;
  margin-bottom: 10px;
}
.main-blog__footer-left-text {
  font-size: 16px;
  font-weight: 330;
  color: rgba(57, 20, 0, 0.64);
  line-height: 1.7;
}
.main-blog__footer-right-input {
  width: 370px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid rgb(243, 209, 191);
  padding: 10px 20px;
  font-size: 16px;
  color: #391400;
}
@media (max-width: 500px) {
  .main-blog__footer-right-input {
    width: 100%;
    margin-bottom: 16px;
  }
}
.main-blog__footer-right-button {
  color: #28293E;
  text-transform: uppercase;
  font-weight: 800;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 17px 35px 16px 35px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 36px;
}
.main-blog__footer-right-button:hover {
  color: #fff;
  background-color: #EF6D58;
}
@media (max-width: 500px) {
  .main-blog__footer-right-button {
    margin-left: 0;
    width: 100%;
  }
}

.main-contactForm {
  background-color: #28293E;
  padding: 178px 0 208px;
}
@media (max-width: 500px) {
  .main-contactForm {
    padding: 80px 0 86px;
  }
}
.main-contactForm__box {
  display: flex;
  justify-content: space-between;
  gap: 130px;
}
@media (max-width: 500px) {
  .main-contactForm__box {
    flex-direction: column;
    gap: 70px;
  }
}
.main-contactForm-form {
  background-color: #fff;
  padding: 54px 48px 48px 48px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 500px) {
  .main-contactForm-form {
    padding: 57px 28px 48px 28px;
  }
}
.main-contactForm-form-name {
  font-size: 24px;
  font-weight: 800;
  color: #391400;
  margin-bottom: 20px;
}
.main-contactForm-form-input, .main-contactForm-form-textarea {
  width: 474px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid rgb(243, 209, 191);
  padding: 10px 20px;
  font-size: 16px;
  color: #391400;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .main-contactForm-form-input, .main-contactForm-form-textarea {
    width: 100%;
  }
}
.main-contactForm-form-textarea {
  width: 474px;
  height: 158px;
  margin-bottom: 40px;
}
@media (max-width: 500px) {
  .main-contactForm-form-textarea {
    width: 100%;
  }
}
.main-contactForm-form-button {
  display: block;
  background-color: rgb(239, 109, 88);
  color: #fff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease;
  align-self: flex-end;
}
.main-contactForm-form-button:hover {
  background-color: rgb(161, 71, 57);
}
.main-contactForm__info-title {
  font-size: 16px;
  font-weight: 400;
  color: #EF6D58;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 25px;
}
.main-contactForm__info-subtitle {
  font-size: 56px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 33px;
}
@media (max-width: 500px) {
  .main-contactForm__info-subtitle {
    font-size: 40px;
  }
}
.main-contactForm__info-text {
  font-size: 16px;
  font-weight: 330;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.64);
}
.main-contactForm__info-list {
  margin-top: 34px;
}
.main-contactForm__info-list li {
  font-size: 20px;
  font-weight: 330;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20px;
}
.main-contactForm__info-list li::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: url(../images/touch/Shape.png) no-repeat center center, #EF6C58;
  margin-right: 10px;
}
.main-contactForm__info-list li:nth-child(2)::before {
  background: url(../images/touch/Shape2.png) no-repeat center center, #EF6C58;
}
.main-contactForm__info-list li:nth-child(3)::before {
  background: url(../images/touch/Shape3.png) no-repeat center center, #EF6C58;
}

.main-promoSection {
  padding-top: 139px;
  padding-bottom: 139px;
  background-color: #FDF0E9;
}
@media (max-width: 500px) {
  .main-promoSection {
    padding-top: 96px;
    padding-bottom: 124px;
  }
}
.main-promoSection__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .main-promoSection__box {
    flex-direction: column-reverse;
  }
}
@media (max-width: 500px) {
  .main-promoSection__box img {
    width: 100%;
  }
}
.main-promoSection__content-title {
  font-size: 16px;
  font-weight: 400;
  color: #EF6D58;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 40px;
}
.main-promoSection__content-subtitle {
  font-size: 56px;
  font-weight: 800;
  color: #391400;
  margin-bottom: 32px;
}
@media (max-width: 500px) {
  .main-promoSection__content-subtitle {
    font-size: 40px;
  }
}
.main-promoSection__content-text {
  font-size: 16px;
  font-weight: 330;
  color: rgba(57, 20, 0, 0.64);
  line-height: 1.7;
  margin-bottom: 38px;
}
.main-promoSection__content-button {
  background-color: rgb(239, 109, 88);
  color: #fff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease;
}
.main-promoSection__content-button:hover {
  background-color: rgb(161, 71, 57);
}/*# sourceMappingURL=mainPage.css.map */