html {
  background-color: #28293E;
  overscroll-behavior-y: none;
  image-rendering: pixelated;
}

body {
  image-rendering: pixelated;
}

div {
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .wrapper {
    max-width: 100%;
    padding: 0 15px;
  }
}

.header {
  background-color: #28293E;
  color: #fff;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo-text {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease;
}
.header__logo-text:hover {
  color: rgb(239, 109, 88);
}
.header__logo-img {
  position: relative;
}
.header__logo-img img:nth-of-type(1) {
  position: relative;
}
.header__logo-img img:nth-of-type(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__menu {
  display: none;
}
@media (max-width: 500px) {
  .header__menu {
    display: block;
    z-index: 11;
  }
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
}
@media (max-width: 1240px) {
  .wrapper {
    max-width: 100%;
    padding: 0 15px;
  }
}

.button {
  background-color: inherit;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2957);
  border-radius: 5px;
  text-transform: uppercase;
  padding: 17px 30px 16px 30px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #fff;
  color: #28293E;
}
@media (max-width: 500px) {
  .button {
    display: none;
  }
}

@media (max-width: 500px) {
  .header__nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all 0.375s;
    height: 100vh;
  }
  .header__nav::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    background: #FEDC2A;
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all 0.275s 0.1s;
  }
}
.header__nav-list {
  display: flex;
  gap: 70px;
  list-style: none;
}
@media (max-width: 500px) {
  .header__nav-list {
    display: inline-flex;
    flex-direction: column;
    height: 100%; /* Should be 100%, but we have a notice message :D */
    align-items: flex-end;
    justify-content: center;
    transform: translateX(-18%) skew(-16deg);
  }
}
.header__nav-item {
  transition: 0.4s ease;
}
@media (max-width: 500px) {
  .header__nav-item {
    display: block;
    margin: 0.5rem 0;
    text-align: right;
    transform: skew(16deg);
  }
}
.header__nav-item:hover {
  transform: scale(1.1);
}
@media (max-width: 500px) {
  .header__nav-item a {
    opacity: 0;
    transform: translateY(-10px);
  }
}
@media (max-width: 500px) {
  .header__nav-item:nth-child(1) a {
    transition: all 275ms 175ms;
  }
}
@media (max-width: 500px) {
  .header__nav-item:nth-child(2) a {
    transition: all 275ms 275ms;
  }
}
@media (max-width: 500px) {
  .header__nav-item:nth-child(3) a {
    transition: all 275ms 375ms;
  }
}
@media (max-width: 500px) {
  .header__nav-item:nth-child(4) a {
    transition: all 275ms 475ms;
  }
}
.header__nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 500px) {
  .header__nav.is-open {
    opacity: 1;
    z-index: 10;
    visibility: visible;
  }
  .header__nav.is-open::before {
    transform: skew(-14deg) translateX(0);
  }
  .header__nav.is-open a {
    opacity: 1;
    transform: translateY(0);
  }
  .header__nav-list,
  .header__nav-item {
    list-style: none;
    padding: 0;
  }
  .header__nav-link {
    display: block;
    padding: 12px 0;
    color: #5A3B5D;
    font-size: 1.4em;
    text-decoration: none;
    font-weight: bold;
  }
  .header.is-open {
    height: 100vh;
  }
}
.footer__images {
  background-color: #FDF0E9;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .footer__images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .footer__images img {
    width: 50%;
  }
}

.footer {
  background-color: #28293E;
  padding-top: 89px;
  padding-bottom: 52px;
}
@media (max-width: 500px) {
  .footer__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 68px;
}
@media (max-width: 500px) {
  .footer__content {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}
.footer__content-logo {
  font-size: 24px;
  font-weight: 650;
  color: #fff;
}
.footer__content-menu-title {
  font-size: 16px;
  font-weight: 400;
  color: #EF6D58;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 30px;
}
.footer__content-menu ul {
  list-style: none;
}
.footer__content-menu ul li {
  font-size: 16px;
  font-weight: 330;
  color: #fff;
  padding-bottom: 15px;
}
.footer__content-links {
  cursor: pointer;
}
.footer__copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 43px;
  padding-bottom: 20px;
  border-top: 1px solid rgb(58, 60, 86);
}
@media (max-width: 500px) {
  .footer__copyright {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
  }
}
.footer__copyright-text {
  font-size: 16px;
  font-weight: 330;
  color: rgba(255, 255, 255, 0.64);
}
@media (max-width: 500px) {
  .footer__copyright-text {
    max-width: 60%;
  }
}
.footer__copyright-links {
  display: flex;
  gap: 68px;
}
.footer__copyright-links a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Epilogue", sans-serif;
}

.main__header-content {
  width: 100%;
  display: block;
  text-align: center;
  padding-top: 104px;
  padding-bottom: 66px;
}
.main__header-content-title {
  font-size: 72px;
  margin-bottom: 24px;
}
.main__header-content-text {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.64);
  line-height: 1.9;
  width: 45%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .main__header-content-text {
    width: 85%;
  }
}

.services {
  background-color: #FDF1E9;
  padding-top: 76px;
}
.services__title {
  font-size: 16px;
  font-weight: 400;
  color: #EF6D58;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 33px;
}
.services__content {
  display: flex;
  justify-content: space-between;
  gap: 130px;
  padding-bottom: 97px;
}
@media (max-width: 500px) {
  .services__content {
    flex-direction: column;
    gap: 30px;
    width: 85%;
  }
}
.services__content-title {
  font-size: 40px;
  font-weight: 800;
  color: #391400;
  line-height: 48px;
}
.services__content-text {
  font-size: 16px;
  font-weight: 350;
  color: rgba(57, 20, 0, 0.64);
  line-height: 1.9;
}
.services__mobile-text {
  display: none;
  color: #391400;
}
@media (max-width: 500px) {
  .services__mobile-text {
    display: inline-block;
  }
}
.services__list {
  max-width: 100%;
}
.services__list-item {
  position: relative;
}
.services__list-item label {
  font-size: 56px;
  font-weight: 800;
  color: #391400;
  line-height: 64px;
  letter-spacing: -1px;
  padding: 41px 0;
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(243, 209, 191);
  border-bottom: 1px solid rgb(243, 209, 191);
  transition-property: border-bottom;
}
@media (max-width: 500px) {
  .services__list-item label {
    font-size: 38px;
    line-height: 1.2;
  }
}
@media (max-width: 500px) {
  .services__list-item label {
    padding: 41px 30px 39px;
  }
}
@media (max-width: 391px) {
  .services__list-item label {
    padding: 41px 20px 39px;
  }
}
.services__list-item label::after {
  content: "";
  display: inline-block;
  background: url(../images/FAQ-down.svg) no-repeat center center/contain;
  width: 32px;
  height: 32px;
  margin-left: auto;
  cursor: pointer;
  flex-shrink: 0;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}
@media (max-width: 500px) {
  .services__list-item label::after {
    align-self: flex-start;
  }
}
.services__list-item-content {
  width: 570px;
  margin-left: auto;
  overflow: hidden;
  transition: 0.4s ease;
  max-height: 0;
}
@media (max-width: 500px) {
  .services__list-item-content {
    width: 100%;
  }
}
.services__list-item-content p {
  font-size: 16px;
  font-weight: 330;
  color: rgba(57, 20, 0, 0.64);
  line-height: 1.7;
  padding: 0 0 36px;
}
.services__list-item-content h3 {
  font-size: 40px;
  font-weight: 800;
  color: #391400;
  line-height: 48px;
  margin-bottom: 28px;
  padding: 76px 0 0;
}
@media (max-width: 500px) {
  .services__list-item-content h3 {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
  }
}
.services__list-item-content-list {
  list-style: none;
  padding: 0 0 100px;
}
.services__list-item-content-list li {
  color: #391400;
  font-size: 16px;
  font-weight: 330;
  line-height: 1.7;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.services__list-item-content-list li::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../images/check.svg) no-repeat center;
  background-size: contain;
  margin-right: 10px;
  flex-shrink: 0;
  transform: translateY(-5%);
}
.services__list-item:nth-child(1) label, .services__list-item:nth-child(2) label {
  border-bottom: none;
}
.services__list-item:nth-child(3) .services__list-item-content-list {
  padding-bottom: 20px;
}
.services__list-item.active label::after {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.services__list-icon {
  content: "";
  width: 80px;
  height: 80px;
  background-color: #EF6D58;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-5%);
  margin-right: 36px;
  flex-shrink: 0;
}
.services__non-hidden-text {
  display: inline-block;
  color: #391400;
}
@media (max-width: 500px) {
  .services__non-hidden-text {
    display: none;
  }
}
.services__hidden-text {
  display: none;
}
@media (max-width: 500px) {
  .services__hidden-text {
    display: inline-block;
    color: #391400;
  }
}

.how-we-work {
  background-color: #FDF1E9;
  padding-top: 107px;
  margin-top: -1px;
}
@media (max-width: 500px) {
  .how-we-work {
    padding-top: 100px;
  }
}
.how-we-work__title {
  font-size: 16px;
  font-weight: 400;
  color: #EF6D58;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 17px;
}
.how-we-work__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 150px;
}
@media (max-width: 500px) {
  .how-we-work__content {
    flex-direction: column;
    gap: 30px;
    padding-bottom: 50px;
  }
}
.how-we-work__content-left {
  width: 40%;
}
@media (max-width: 500px) {
  .how-we-work__content-left {
    width: 85%;
  }
}
.how-we-work__content-left-title {
  font-size: 40px;
  font-weight: 800;
  color: #391400;
  line-height: 48px;
  margin-bottom: 31px;
}
.how-we-work__content-left-text {
  font-size: 16px;
  font-weight: 350;
  color: rgba(57, 20, 0, 0.64);
  line-height: 1.9;
}
.how-we-work__list {
  counter-reset: list-counter;
  list-style: none;
  padding-top: 44px;
  padding-right: 68px;
}
@media (max-width: 500px) {
  .how-we-work__list {
    padding-right: 0;
  }
}
.how-we-work__list li {
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  color: #391400;
  margin-bottom: 80px;
  position: relative;
  padding-left: 100px;
}
@media (max-width: 500px) {
  .how-we-work__list li {
    padding-left: 80px;
  }
}
.how-we-work__list li:before {
  counter-increment: list-counter;
  content: counter(list-counter);
  position: absolute;
  left: 0;
  font-size: 72px;
  font-weight: 800;
  color: #391400;
}
@media (max-width: 500px) {
  .how-we-work__list li:before {
    top: 20px;
  }
}

.promoSection {
  background-color: #FDF0E9;
}
@media (max-width: 500px) {
  .promoSection {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.promoSection__box {
  background-color: rgb(239, 109, 88);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 96px 100px 80px;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .promoSection__box {
    flex-direction: column-reverse;
    padding: 40px 20px;
  }
}
@media (max-width: 500px) {
  .promoSection__box img {
    width: 100%;
  }
}
.promoSection__content-title {
  font-size: 16px;
  font-weight: 400;
  color: #EF6D58;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 40px;
}
.promoSection__content-subtitle {
  font-size: 56px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 32px;
}
@media (max-width: 500px) {
  .promoSection__content-subtitle {
    font-size: 40px;
  }
}
.promoSection__content-text {
  font-size: 16px;
  font-weight: 330;
  color: rgba(57, 20, 0, 0.64);
  line-height: 1.7;
  margin-bottom: 38px;
  color: rgba(255, 255, 255, 0.64);
}
@media (max-width: 500px) {
  .promoSection__content-text {
    width: 85%;
    -webkit-hyphens: auto;
            hyphens: auto;
  }
}
.promoSection__content-button {
  color: #28293E;
  text-transform: uppercase;
  font-weight: 800;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 17px 35px 16px 35px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.promoSection__content-button:hover {
  color: #fff;
  background-color: #EF6D58;
}
.promoSection__content-button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.footer {
  background-color: #FDF1E9;
  margin-top: -1px;
}
.footer__content-logo {
  color: #391400;
}
.footer__content-menu ul li {
  color: #391400;
}
.footer__copyright {
  border-top: 1px solid rgb(243, 209, 191);
}
.footer__copyright-text {
  color: rgba(57, 20, 0, 0.64);
}
.footer__copyright-links a {
  color: #391400;
}/*# sourceMappingURL=thirdPage.css.map */